.matrix {
  background: black;
  overflow: hidden;
  position: relative;
  height: 100vh;
  width: 100%;
}

.matrix canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
}

.matrix-content {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

